* {
        box-sizing: border-box;
        border-radius: 0.5vw;
        text-decoration: none;
}

body, html {
    margin: 0;
    padding: 0;
    color: #fdc;
    background-color: #41d;
    font-family: sans-serif;
}

#content {            
    background-color: #8b0036;
    color: #ffeae7;
    padding: 1em;
}


