* {
    box-sizing: border-box;
    border-radius: 0.5vw;
    text-decoration: none;
    --light-text-col: #ffddbb;
    --bkg-col: #98c4ff;
    --btn-col: #000314;
    --h1-col: #5dbfff;
    --dark-bkg-col: #00162c;
    --bright-border-col: #e99536;
    --go-col: #008b6b;
    --stop-col: #eda2ab;
    --medium-light-text-col: #00d9de;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bkg-col);
    font-family: sans-serif;
}

#content {   
    background-color: var(--bkg-col)         
    color: var(--light-text-col);
    padding: 1vh 1vw;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vmax;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: start;
}

.feedback, .scoreboard {
    font-size: 2.0vw;
    background-color: var(--btn-col);
    color: var(--light-text-col);
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    border: 5px ridge var(--bright-border-col);
}

.scoreboard * {
    padding: 1vw;
}

.feedback {
    color: var(--bright-border-col);
}

.sum, .answer, .name {
    font-size: 3vw;
    background-color: var(--btn-col);
    color: var(--bright-border-col);
    padding: 1vh 1vw;
}

.sum, .name {
    border: 5px ridge var(--bright-border-col);    
}

.problem {
    display: inline-block;
    text-align: center;
}

.problems {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.problems > h1 {
    font-weight: bold;
}

h1 {
    font-size: 2.8vmax;
}

h2 {
    font-size: 2.2vmax;
}

h1, h2 {
    font-weight: normal;
}

#result {
    color: var(--medium-light-text-col);
}

tr {
    color: var(--medium-light-text-col);
} 

tr:first-child {
    color: var(--bright-border-col);
}

.btn-holder {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.btn {
    font-size: 2.4vw;
    background-color: var(--btn-col);
    color: var(--bright-border-col);
    width: 20vw;
    height: 10vw;
    padding: 3px 3px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 1px 1px;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    transition: transform 0.5s;
    border: 4px groove var(--light-text-col);
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.01);
    filter: invert(100%);   /* switch black & white text */
    border: 2px solid var(--btn-col);  
}

#btn-next {
    color: var(--go-col);
}

#btn-logout {
    color: var(--stop-col);
}

@media only screen and (max-width: 767px) {

    .feedback, .scoreboard, .scoreboard * {
        font-size: 3vw;
        align-self: start;
    }

    .login-form {
        justify-self: stretch;
    }

    .btn, .name {
        width: 100%;
        height: auto;
        font-size: 3vw;
    }
}