* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0.5vw;
    text-decoration: none;
    --light-text-col: #ffddbb;
    --bkg-col: #98c4ff;
    --btn-col: #000314;
    --h1-col: #5dbfff;
    --dark-bkg-col: #00162c;
    --bright-border-col: #e99536;
    --go-col: #008b6b;
    --stop-col: #eda2ab;
    --medium-light-text-col: #00d9de;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bkg-col);
    font-family: sans-serif;
}

#content {   
    background-color: var(--bkg-col);         
    color: var(--light-text-col);
    padding: 1vh 1vw;
}

.main {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    -ms-grid-rows: 1fr 2vmax 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vmax;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: start;
        align-content: start;
}

.feedback, .scoreboard {
    font-size: 2.0vw;
    background-color: var(--btn-col);
    color: var(--light-text-col);
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    border: 5px ridge var(--bright-border-col);
}

.scoreboard * {
    padding: 1vw;
}

.feedback {
    color: var(--bright-border-col);
}

.sum, .answer, .name {
    font-size: 3vw;
    background-color: var(--btn-col);
    color: var(--bright-border-col);
    padding: 1vh 1vw;
}

.sum, .name {
    border: 5px ridge var(--bright-border-col);    
}

.problem {
    display: inline-block;
    text-align: center;
}

.problems {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.problems > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.problems > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.problems > h1 {
    font-weight: bold;
}

h1 {
    font-size: 2.8vmax;
}

h2 {
    font-size: 2.2vmax;
}

h1, h2 {
    font-weight: normal;
}

#result {
    color: var(--medium-light-text-col);
}

tr {
    color: var(--medium-light-text-col);
} 

tr:first-child {
    color: var(--bright-border-col);
}

.btn-holder {
    display: -ms-grid;
    display: grid;
    grid-gap: 2vw;
    -ms-grid-columns: 1fr 2vw 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn-holder > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.btn-holder > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.btn {
    font-size: 2.4vw;
    background-color: var(--btn-col);
    color: var(--bright-border-col);
    width: 20vw;
    height: 10vw;
    padding: 3px 3px;
    text-align: center;
    font-weight: bold;
    -webkit-box-shadow: 0 0 1px 1px;
            box-shadow: 0 0 1px 1px;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    border: 4px groove var(--light-text-col);
    border-radius: 5px;
}

.btn:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-filter: invert(100%);
            filter: invert(100%);   /* switch black & white text */
    border: 2px solid var(--btn-col);  
}
.btn:focus {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
}

#btn-next {
    color: var(--go-col);
}

#btn-logout {
    color: var(--stop-col);
}

@media only screen and (max-width: 767px) {

    .feedback, .scoreboard, .scoreboard * {
        font-size: 3vw;
        -ms-flex-item-align: start;
            -ms-grid-row-align: start;
            align-self: start;
    }

    .login-form {
        -ms-grid-column-align: stretch;
            justify-self: stretch;
    }

    .btn, .name {
        width: 30vmin;
        height: 20vmin;
        padding: 3px 3px;
        font-size: 6vw;            
    }
}